*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #e9e9e9;
    margin:0 auto;
    box-sizing:border-box;
}
header{
    display:flex;
}
#logo{
    width:40%;
    text-align: center;
    margin:15px;
    font-size: 3em;
    color:#504B38;
}
#logo span{
    color:#B9B28A;
}
nav{
    width:60%;
    display:flex;
    justify-content: center;
    border-bottom:#B9B28A solid 4px;
    align-items: center;
    height:100%;
    

}
.linknav{
    display:block;
    padding:15px;
    text-decoration: none;
    height:100%;
}
main{
    display:flex;
    flex-wrap:wrap;
}
section{
    
    padding:1%;
}
section h1{
    text-align: center;
}
.row-1 article{
    text-align:justify;
    
}
.row-1{
    display:flex;
    line-height: 2.5em;
    background-color: #fef8db;
    
}
.row-2{
    width:100%;
    text-align:center;
    background-color:#f3ecc4;
}
.row-2 article{
    width:100%;
}
#templateContainer{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
}
.templateExample{
    width:30%;
    margin:1%;
}
.templateExample iframe{
    width:80%;
    height:400px;
}
